<h1>All Page Reports</h1>

<%= will_paginate @page_reports %>

<table class="report">
  <tr>
    <th>Reported</th>
    <th>Document ID</th>
    <th>Page</th>
    <th>Comment</th>
      <th>User</th>
    <th></th>
  </tr>

<% @page_reports.each do |page_report| %>
  <tr>
    <td><%= page_report.created_at.strftime('%b %-d, %Y') %></td>
    <td><%= (page_report.nil? || page_report.document.nil?) ? '' : "(#{page_report.document_id}) #{page_report.document.uri}"%></td>
    <td><%= page_report.page %></td>
    <td class="comment-col"><%= page_report.reportText %></td>
    <td><%= format_user(page_report.fullname, page_report.email) %></td>
    <td><%= link_to 'Edit', edit_page_report_path(page_report) %> &middot;
    <%= link_to 'Destroy', page_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
