<script type="text/javascript">
	var lines = <%= raw(@params[:lines].to_json()) %>;
	var currLine = 0;
	var book = "<%= @params[:book] %>";
	var page = <%= @params[:page] %>;
	var currUser = <%= @user.id %>;
	var showDebugItems = <%= @debugging ? 'true' : 'false' %>;
	var updateUrl = "/documents/"+book;
</script>

<div class="editing_title"><a title='<%= @params[:title] %>'>"<%= @params[:title_abbrev] %>"</a></div>

<div class="line_text">
	<table class="line_editing">
		<tr>
			<td colspan="3" class="toolbar">
				<span class="button2 find_button">&nbsp;</span>
				<span class="button2 insert_above_button">&nbsp;</span>
				<span class="button2 insert_below_button">&nbsp;</span>
				<span class="button2 review_history_button">&nbsp;</span>
				<%= render :partial => 'pagination', :locals => { :book => @params[:book], :page => @params[:page], :num_pages => @params[:num_pages] } %>
			</td>
		</tr>
		<tr>
			<td class="left_row">
				<img id="line_thumb" src="<%= @params[:img_thumb] %>" alt="original image" /></td>
			<td class="middle_row">
				<div id="line_full">
					<span style="background-image: url(<%= @params[:img_full] %>);"></span>
				</div>
			</td>
			<td class="right_row">
				<div class="button3 change_line up_arrow_top" data-amount="-1" title="Previous line">&nbsp;</div>
				<div class="button3 change_line down_arrow_top" data-amount="1" title="Next line">&nbsp;</div>
			</td>
		</tr>
	</table>
	<table>
		<tr id="text_0">
			<td class="history_icon"></td>
			<td class="change_icon"></td>
			<td class="line_num">&nbsp;</td>
			<td class="text">&nbsp;</td>
			<td><div class="button3 change_line up_arrow_bottom" data-amount="-1" title="Previous line">&nbsp;</div></td>
		</tr>
		<tr id="text_1">
			<td class="history_icon"></td>
			<td class="change_icon"></td>
			<td class="line_num">&nbsp;</td>
			<td><span id="editing_line"></span>
			<span class="button correct" title="Correct">&nbsp;</span><span class="button delete_line" title="Delete line">&nbsp;</span><span class="button undo_button hidden" title="Undo">&nbsp;</span><span class="button redo_button hidden" title="Redo">&nbsp;</span></td>
		<td></td>
		</tr>
		<tr id="text_2">
			<td class="history_icon"></td>
			<td class="change_icon"></td>
			<td class="line_num">&nbsp;</td>
			<td class="text">&nbsp;</td>
			<td><div class="button3 change_line down_arrow_bottom" data-amount="1" title="Next line">&nbsp;</div></td>
		</tr>
	</table>
	<%= render :partial => 'line_instructions' %>
	<div class="clear_both"></div>
</div>
<div id="pointer_thumb" style="position:absolute;border:1px solid red;"></div>
<div id="pointer_doc" style="position:absolute;border:2px solid red;"></div>
<% 20.times {|x|  %>
<div id="pointer_word_1_<%= x %>" style="position:absolute;border:2px dotted #3333ff;"></div>
<% } %>
<%= render :partial => 'word_stats', :locals => { :word_stats => @params[:word_stats], :doc_word_stats => @params[:doc_word_stats]} %>
