<script type="text/javascript">
	var currLine = 0;
	var lines = [];
</script>
<div id="main_container">
	<div class="editing_title"><a title='<%= raw(@title.gsub("'", "&apos;")) %>'>"<%= @title_abbrev %>"</a></div>

	<div class="overview_top">
		<img id="line_thumb" src="<%= @thumb %>" alt="cover page" />
		<p><%= @title %></p>
		<p>Pages: <%= @num_pages %></p>
		<p>Year: <%= @year %></p>
		<p>Information:<br /><%= @information %></p>
		<%= link_to raw("&nbsp;"), { :controller => 'documents', :action => 'edit', :id => @id }, { :class => "button4 start_editing_button" } %>
		<div class="clear_both">&nbsp;</div>
	</div>
	<div class="overview_bottom">
		TODO: correction history goes here.
	</div>
</div>
